.card {
  background: white;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  position: relative;
  width: 90%;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: green;
  text-align: center;
}

hr {
	width: 90%;
}

a {
  text-decoration: none;
}

.href:hover, .href:active {
  background-color: #ffcccb;
  color: white;

}

.href:link, .href:visited {
  background-color: none;
  color: black;
  border: 2px solid black;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
}

.tinted-image {
  background: 
    linear-gradient(
      rgba(200, 200, 155, 0.85), 
      rgba(200, 200, 155, 0.95)
    ),
    url('../images/mana.png');
    width: 100%;
}

.below_mission {
  padding: 5px;
}

#text_after_mission{
  padding: 1px;
}
